body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header {
  background: red;
  height: 80px;
  line-height: 80px;
}

.header h1 {
  color: #fff;
}

/* ------------------------------------------------------------------------------ */

.btn {
  cursor: pointer;
}

.conten-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  border: 0;
  background: #f00;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
}

.btn-secondary {
  border: 0;
  background: rgb(2, 156, 61);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
}

/* HIDE RADIO */
[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type='radio'] + img {
  cursor: pointer;
  display: block;
  max-width: 100%;
  height: 100px;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
  outline: 2px solid #f00;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
